.App {
  background: #feb71d;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.App .img {
  position: fixed;
  bottom: 0;
  max-height: 75%;
}
